{% extends 'navbar.html' %}
{% block nav %}

{% if messages %}

{% for i in messages %}

{% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success">
    {{i}}
</div>
{% endif %}

{% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="ontainer mx-auto text-center">
    <div class="alert alert-danger container mx-auto text-center d-flex text-center align-items-center">
        {{i}}
    </div>
</div>

{% endif %}

{% endfor %}

{% endif %}

<style>
    body {
        margin-top: 20px;
        /* background: #eee; */
    }

    .review-list ul li .left span {
        width: 32px;
        height: 32px;
        display: inline-block;
    }

    .review-list ul li .left {
        flex: none;
        max-width: none;
        margin: 0 10px 0 0;
    }

    .review-list ul li .left span img {
        border-radius: 50%;
    }

    .review-list ul li .right h4 {
        font-size: 16px;
        margin: 0;
        display: flex;
    }

    .review-list ul li .right h4 .gig-rating {
        display: flex;
        align-items: center;
        margin-left: 10px;
        color: #ffbf00;
    }

    .review-list ul li .right h4 .gig-rating svg {
        margin: 0 4px 0 0px;
    }

    .country .country-flag {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
        margin: 0 7px 0 0px;
        border: 1px solid #fff;
        border-radius: 50px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    .country .country-name {
        color: #95979d;
        font-size: 13px;
        font-weight: 600;
    }

    .review-list ul li {
        border-bottom: 1px solid #dadbdd;
        padding: 0 0 30px;
        margin: 0 0 30px;
    }

    .review-list ul li .right {
        flex: auto;
    }

    .review-list ul li .review-description {
        margin: 20px 0 0;
    }

    .review-list ul li .review-description p {
        font-size: 14px;
        margin: 0;
    }

    .review-list ul li .publish {
        font-size: 13px;
        color: #95979d;
    }

    .review-section h4 {
        font-size: 20px;
        color: #222325;
        font-weight: 700;
    }

    .review-section .stars-counters tr .stars-filter.fit-button {
        padding: 6px;
        border: none;
        color: #4a73e8;
        text-align: left;
    }

    .review-section .fit-progressbar-bar .fit-progressbar-background {
        position: relative;
        height: 8px;
        background: #efeff0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        ;
        border-radius: 999px;
    }

    .review-section .stars-counters tr .star-progress-bar .progress-fill {
        background-color: #ffb33e;
    }

    .review-section .fit-progressbar-bar .progress-fill {
        background: #2cdd9b;
        background-color: rgb(29, 191, 115);
        height: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
        border-radius: 999px;
    }

    .review-section .fit-progressbar-bar {
        display: flex;
        align-items: center;
    }

    .review-section .stars-counters td {
        white-space: nowrap;
    }

    .review-section .stars-counters tr .progress-bar-container {
        width: 100%;
        padding: 0 10px 0 6px;
        margin: auto;
    }

    .ranking h6 {
        font-weight: 600;
        padding-bottom: 16px;
    }

    .ranking li {
        display: flex;
        justify-content: space-between;
        color: #95979d;
        padding-bottom: 8px;
    }

    .review-section .stars-counters td.star-num {
        color: #4a73e8;
    }

    .ranking li>span {
        color: #62646a;
        white-space: nowrap;
        margin-left: 12px;
    }

    .review-section {
        border-bottom: 1px solid #dadbdd;
        padding-bottom: 24px;
        margin-bottom: 34px;
        padding-top: 64px;
    }

    .review-section select,
    .review-section .select2-container {
        width: 188px !important;
        border-radius: 3px;
    }

    ul,
    ul li {
        list-style: none;
        margin: 0px;
    }

    .helpful-thumbs,
    .helpful-thumb {
        display: flex;
        align-items: center;
        font-weight: 700;
    }

    .checked {
        color: #ffb33e;
    }
</style>

<h1>room view</h1>
<!-- <h1 class="align-items-center text-center text-white"> Welcome <span class="text-warning"> {{request.user.first_name}}
        {{request.user.last_name}} </span> </h1> -->

<div class="m-2 shadow border border-5">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="{{hotel_details.image1.url}}" class="d-block w-100" height="350px" alt="img1">
            </div>
            <div class="carousel-item">
                <img src="{{hotel_details.image2.url}}" <img src="" class="d-block w-100" height="350px" alt="img2">
            </div>
            <div class="carousel-item">
                <img src="{{hotel_details.image3.url}}" class="d-block w-100" height="350px" alt="img2">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 col-md-7" style="background: fixed ; overflow: scroll; height: 700px;">
                <div class="card text-start " style="border: none; height: 700px;">
                    <!-- <img class="card-img-top" src="{{room.hotel.image.url}}" height="200px" alt="Title" /> -->
                    <div class="card-body" style="height: 500px;">

                        <h1 class="card-title text-center"
                            style="font-family: Arial, Helvetica, sans-serif ; font-weight: 900;">
                            {{hotel_details.hotel.name}}</h1>

                        <span class="card-title  " style="color: gainsboro; font-size: 1.5rem;"><i
                                class="fa-solid fa-address-book"></i> {{hotel_details.hotel.adress}}</span>

                        <div class="utf_star_rating" data-rating="4.5">
                            <!-- <div style="position: relative; margin-left: 630px; margin-top: -80px;"> -->
                            <a href="" class="btn" style="color: white; background-color:green; "><i
                                    class="fa-solid fa-star"></i>{{hotel_details.hotel.rating}} / (4 reviews)
                                <!-- {{hotel_details.hotel.status}} -->
                            </a>

                        </div><br>


                        <!-- <h2 style="font-size: 20px;">Amenteitise</h2> -->

                        <p class="card-text">Mobile : {{hotel_details.hotel.mobile}}</p>
                        <p class="card-text">Email : {{hotel_details.hotel.emails}}</p>
                        <a href="" class="btn btn-info">view more</a>

                        <br><br>
                        <div class="border border-round">
                            <h2>ABOUT</h2><br>
                            <p>{{hotel_details.hotel.discription}}</p>
                        </div>



                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae autem non officia, quod
                            cupiditate fuga vero! Temporibus, doloremque harum quaerat officiis commodi maiores, fuga
                            nihil ratione, ullam numquam repudiandae vitae!Lorem Lorem ipsum dolor sit amet consectetur,
                            adipisicing elit. Assumenda tempora et odio, doloribus dolores quod quisquam repellendus
                            deserunt quas id placeat! Recusandae, iure quaerat? Sunt, repudiandae. Blanditiis hic
                            debitis culpa?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus corporis
                            doloribus iusto recusandae provident odit in ullam pariatur dicta officia, nesciunt a
                            repellendus unde consequuntur, quibusdam, enim saepe quidem! Odit.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quibusdam eum illo quae
                            accusantium asperiores aperiam unde laudantium consequuntur quam impedit neque error
                            doloribus et qui voluptatibus architecto, soluta rem?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quam doloremque fugit
                            atque animi fuga repellat amet eaque iste officia cupiditate rem, dicta ipsam nesciunt
                            quisquam. Corporis ducimus odit incidunt.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam adipisci facere neque
                            nostrum sed ipsam doloribus possimus quis quod. Quo deserunt exercitationem laborum
                            voluptatibus totam accusantium earum tempora nam aperiam?
                        </p>

                        <a href="" class="btn btn-success">Book now</a>
                    </div>
                </div>

                <!-- <div>
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Room Type</h5>
                                
                                <p class="card-text"></p>
                                <p class="card-text"></p>
                                <a href="" class="btn btn-primary">Go somewhere</a>
                               
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>



            <!--  -->

            <!-- <div class="col-4" >
                <div class="card text-start">
                    <img class="card-img-top" src="" height="200px" alt="Title" />
                    <div class="card-body" style="height: 500px;">
                        <h4 class="card-title"></h4>
                        <p class="card-text">Body</p>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-5" style="
            display: flex; 
            flex-direction:column;
            min-width:380px;
            position: sticky;  
            right: 5%;
            top: 76px;
            margin-top: 24px;
            z-index: 20;
            max-width: 450px;
            background: #fff;">


                <!-- <form action="" method="post" >
                    {% csrf_token %} -->

                <div class="" style="
                display: flex; 
                flex-direction: 
                column; padding: 16px 24px; 
                justify-content: center; 
                align-items: center; 
                border-radius: 8px; 
                box-shadow: 0 2px 6px 0 rgba(125,125,125,0.1);
                border: solid 1px #f0f0f0;
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
                box-sizing: border-box;">


                    <div class="">
                        <div style="    
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center">

                            <span
                                style=" font-family: sans-serif; margin-right: 8px;font-size: 24px; font-weight: 700;">${{hotel_details.hotel.hotel_price}}</span>
                        </div><br>
                        <form action="" method="post" class="form-control">
                            {% csrf_token %}
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label for="mintopay">Check in</label>
                                    <input type="date" name="checkin" id="checkin" class="form-control">

                                </div>
                                <div class="col-md-6">
                                    <label for="maxtopay">Check out</label>
                                    <input type="date" name="checkout" id="checkout" class="form-control">

                                </div>
                            </div><br>
                            <div class="form-group ">
                                <label for="">Adult :</label>
                                <input type="text" required name="num_adults" style="width: 60px;;"><br><br>
                                <label for="">Childern</label>
                                <input type="text" required name="num_children" style="width: 60px;"><br>

                            </div>

                            <div class="row form-group p-5">
                                <div class="col-md-12">
                                    <button class="btn btn-success" type="submit"> Continue to book </button>
                                    <!-- <input type="submit" class="btn btn-primary btn-block" value="Limit"> -->

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- </form>     -->
            </div>


        </div>
    </div>

    <!----------- Review-------------- -->

    <div class="container">
        <div id="reviews" class="review-section">
            <div class="d-flex align-items-center mb-4">
                <h4 class="m-0">{{reviews.count}} Reviews </h4>
            </div>
            <div class="row">
                <div class="col-md-6 p-4"
                    style="background: fixed ; overflow: scroll; height: 500px; background-color: #ffffff; border-radius:0px;">


                    <!--  -->

                    {% for r in reviews %}

                    <div class="review-list">
                        <ul>
                            <li>
                                <div class="d-flex">
                                    <div class="left">
                                        <span>
                                            <img src="https://tr.rbxcdn.com/38c6edcb50633730ff4cf39ac8859840/420/420/Hat/Png"
                                                class="profile-pict-img img-fluid" alt="" />
                                        </span>
                                    </div>
                                    <div class="right">
                                        <h4>
                                            {{r.user}}
                                            <span class="gig-rating text-body-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
                                                    width="15" height="15">
                                                    <path fill="currentColor"
                                                        d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                                    </path>
                                                </svg>
                                                5.0
                                            </span>
                                        </h4>
                                        <div class="country d-flex align-items-center">
                                            <span>
                                                <img class="country-flag img-fluid"
                                                    src="https://bootdey.com/img/Content/avatar/avatar6.png" />
                                            </span>
                                            <div class="country-name font-accent">India</div>
                                        </div>
                                        <div class="review-description">
                                            <p>{{r.review}}</p>
                                        </div>
                                        <span class="publish py-3 d-inline-block w-100">{{r.date|date:"d M,Y"}}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}


                    <!-- review form -->

                    <h4>Write youre Review here</h4>
                    <br>
                    <div>
                            <!-- <form action="" method="post">
                                {% csrf_token %}

                                <div class="form-group"> -->
                                    <!-- <div class="table">
                                        {{review_form.as_table}}

                                    </div> -->
                                    <!-- {{review_form.review}}
                                </div>

                                <div class="form-group">
                                    {{review_form.rating}}
                                </div>
                                <div class="p-3" style="left: 270px; position:relative;">
                                    <button class="btn btn-success" type="submit">submit</button>
                                </div>

                            </form> -->
                            <!-- <form action="" method="post">
                                {% csrf_token %}
                                {{review_form}}
                                <button class="btn btn-success" type="submit">submit</button>

                            </form> -->
                    </div>
                        
                        <br>


                        <!-- <div class="class">
                            <form action="" method="post">
                                <div class="form-group">
                                    {% csrf_token %}
                                    {{review_form.rating}}
                                </div>

                            </form>
                        </div> -->



                        <!-- with oput form -->
                        <!-- <form action="" method="post">
                            {% csrf_token %}
                            <textarea name="rev" id="" cols="60" class="form-control" rows="10"></textarea>
                            <button class="btn btn-primary ms-auto " type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Click Adde to review

                            </button>
                            <div class="collapse p-5 " id="collapseExample">
                                <div class="star-rating">
                                    <label for="rating-1">  <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> </label>
                                    <input type="radio" id="rating-1" name="rating" value="1"><br>
                                    <label for="rating-2">  <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> </label>
                                    <input type="radio" id="rating-2" name="rating" value="2"><br>
                                    <label for="rating-3">
                                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i<i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                                    </label>
                                    <input type="radio" id="rating-3" name="rating" value="3"><br>
                                    <label for="rating-4">
                                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i> 

                                    </label>
                                    <input type="radio" id="rating-4" name="rating" value="4"><br>
                                    <label for="rating-5">
                                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> 

                                    </label>
                                    <input type="radio" id="rating-5" name="rating" value="5"><br>
                                </div>
                            </div>
                             

                        
                        </form>-->

                        <!--  -->
                        <!--  -->
                        <!-- <form method="post">
                            {% csrf_token %}
                            <div class="p-3" style="left: 270px; position:relative;">
                                <button class="btn btn-success" type="submit">submit</button>
                            </div>
                        </form> -->
                    


                    <!--  -->
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4" style="position: sticky;">
                    <div class="d-flex mb-30">
                        <div class="d-inline-block " style="padding-right: 20px;">
                            <div style="font-size: small; ">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                            </div>

                        </div>
                        <h6> {{avg_rating.rating}} out of 5.0</h6>
                    </div>

                    <table class="stars-counters">
                        <tbody>
                            <tr class="">
                                <td>
                                    <span>
                                        <button
                                            class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">5
                                            Stars</button>
                                    </span>
                                </td>
                                <td class="progress-bar-container">
                                    <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                        <div class="fit-progressbar-background">
                                            <span class="progress-fill" style="width: 97.2973%;"></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="star-num">(36)</td>
                            </tr>
                            <tr class="">
                                <td>
                                    <span>
                                        <button
                                            class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">4
                                            Stars</button>
                                    </span>
                                </td>
                                <td class="progress-bar-container">
                                    <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                        <div class="fit-progressbar-background">
                                            <span class="progress-fill" style="width: 75.2973%;"></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="star-num">(2)</td>
                            </tr>
                            <tr class="">
                                <td>
                                    <span>
                                        <button
                                            class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">
                                            3 Stars</button>
                                    </span>
                                </td>
                                <td class="progress-bar-container">
                                    <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                        <div class="fit-progressbar-background">
                                            <span class="progress-fill" style="width: 50%;"></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="star-num">(0)</td>
                            </tr>
                            <tr class="">
                                <td>
                                    <span>
                                        <button
                                            class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">2
                                            Stars</button>
                                    </span>
                                </td>
                                <td class="progress-bar-container">
                                    <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                        <div class="fit-progressbar-background">
                                            <span class="progress-fill" style="width: 5%;"></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="star-num">(0)</td>
                            </tr>
                            <tr class="">
                                <td>
                                    <span>
                                        <button
                                            class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">1
                                            Stars</button>
                                    </span>
                                </td>
                                <td class="progress-bar-container">
                                    <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                        <div class="fit-progressbar-background">
                                            <span class="progress-fill" style="width: 0;"></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="star-num">(0)</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


    </div>







    {% endblock nav %}